// src/css/quasar.variables.sass

$primary: #ffffff;
$secondary: #26a69a;
$accent: #9c27b0;
$dark: #4b2a70;
$dark-page: #1d3174;
$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
